.App {
  text-align: center;
}

.images {
  width: 200px;
  height: 200px;
  grid-column: 1;
}
.grid-review {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.GameList {
  list-style-type: none;
}
